@keyframes example {
    0% {left:0px;}
    100% {left:-370px;}
  }

@keyframes bcitalk {
    0% {top: 0px}
    100% {top: 150px}
}

@keyframes registerFormAnim{
    0%{opacity: 0;}
    100%{opacity: 1;}
}