<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- <script type="module">
                import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.esm.browser.js'
              </script> -->
        <title>Nodesk</title>
    </head>
    <body style='overflow-x: hidden; width:100vw;'  onload='getChats()'>
        <div id='app' class='row' style='background:#AEBEC4;height: 100vh; '> 
            <div class='col-md-2 col-sm-12 container' style='background:#AEBEC4;overflow-y: auto; max-height: 100vh;height:100vh;'>
                <button class='btn float-right' style='background:#F2F9FF;position:relative;top:10px;z-index: 100;'  onclick="openForm()" id='createChatButton'>+</button>
                <Chats style='position: relative;top:20px;' v-bind:chats='chats'/>
            </div>
            <span id='messages_span' class='col-md-10 col-sm-12 h-100' style='width:100%;'>
                <div class='row col-md-12 justify-content-between align-items-center' style='height: 10%; width:100%;background:#AEBEC4'>
                    <h1 class='float-left text-light'></h1>
                </div>




                <div class="form-popup container" id="myForm" style='display:none; height:40%;width:100%;background:#AEBEC4'>
                    <form action='' class="form-container justify-content-between align-items-center" style='height:100%;'>
                        <h1>Create Chat</h1>
                        <input id='users' class='col-8 form-control' type="text" placeholder="Enter users" name="users" required>
                        <button type='button' class='btn' style='background:#F2F9FF' onclick='addUserToList()'>Add</button>
                        <h5 id='UserList'>Current Users: {{createChatUserList}}</h5>
                        <button type='button' v-on:click='createChat' class="btn" style='background:#F2F9FF' >Create</button>
                        <button type='button' class="btn cancel" style='background:#F2F9FF' onclick="closeForm()">Close</button>
                    </form>
                </div>


                <div class='row container' id='span_content' style='overflow-y: scroll; max-height: 80vh;height:80vh;max-width:100vw;background:#F2F9FF'>
                    <Messages id='messagescontainer' v-bind:messages="messages"/>
                </div>
                
                <div class='row container justify-content-between align-items-center' style='bottom: 0%; height: 10%;max-width:100%;background:#F2F9FF'>
                    <input  class='col-md-10 h-75 float-left' id='message' style='border-radius: 0px;display:none;'>
                    <button class='btn col-md-1 h-75 float-right' id='sendmessagebutton' style='background: #C7D0D3;display:none;' v-on:click='sendMessage'>Send</button>
                </div>
            </span> 
        </div>
        
        <script>
            userList = []
            function addUserToList(){
                userList.push(document.getElementById('users').value)
                document.getElementById('users').value = ''
                console.log(userList)
            }

            function openForm() {
                document.getElementById("myForm").style.display = "block";
                document.getElementById("createChatButton").style.display = "none";
                document.getElementById("app").style.overflowY ='hidden'
            }

            function closeForm() {
                document.getElementById("myForm").style.display = "none";
                document.getElementById("createChatButton").style.display = "block";
                document.getElementById("app").style.overflowY ='auto'
            }
                window.onload = () => {
                var app = new Vue({
                    el : "#app",
                    components:{
                        'Messages': Messages,
                        'MessageItem' : MessageItem,
                        'Chats' : Chats,
                        'ChatItem': ChatItem
                    },
                    data :{
                            messages : [],
                            chats:[],
                            current_chatid:'',
                            socket : new WebSocket('wss://localhost:8000/chat', 'json'),
                            createChatUserList:userList
                    },
                    methods: {
                        getChats : function(){ 
                            var xhr = new XMLHttpRequest();
                            xhr.onload = function () {
                            if (xhr.status >= 200 && xhr.status < 300) {
                                chats = JSON.parse(xhr.responseText)
                                
                                if (chats.length > 0) {
                                    chats.forEach(element => {
                                        app.$data.chats.push(element)
                                    });
                                }
                            }
                            };
                            xhr.open("GET", `/chatids`,true);
                            xhr.send();
                        },
                        getMessages : function(chatid){
                            app.$data.messages = []
                            var xhr = new XMLHttpRequest();

                            xhr.onload = function () {
                            if (xhr.status >= 200 && xhr.status < 300) {
                                messages = JSON.parse(xhr.responseText).messages
                                console.log(messages)
                                messages.forEach(message =>{
                                    var message_model = {
                                        "user": message.user,
                                        "content":message.content,
                                        "date" : message.date
                                        }
                                    app.$data.messages.push(message_model)  
                                })
                                document.getElementById('message').style.display ='block'
                                document.getElementById('sendmessagebutton').style.display = 'block'
                            }
                            };
                            xhr.open("GET", `/messages?chatid=${chatid}`,true);
                            xhr.send();
                        },
                        sendMessage : function(){
                            var message = document.getElementById('message').value
                            document.getElementById('message').value = ''
                            var username = document.cookie.replace(/(?:(?:^|.*;\s*)Username\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                            console.log(app.$data.current_chatid);
                            var message_model = {
                                "chatid": app.$data.current_chatid,
                                "user": username,
                                "content":message,
                                "date": Date()
                            }
                            //await app.$data.messages.push(message_model)
                            this.$data.socket.send(JSON.stringify(message_model));
                        },
                        createChat: function(){
                            var xhr = new XMLHttpRequest();
                            xhr.onload = function () {
                                if (xhr.status >= 200 && xhr.status < 300) {
                                    closeForm()
                                    location.reload()
                                }else if(xhr.status == 400){
                                    alert(xhr.responseText)
                                }
                            };
                            var userString = this.$data.createChatUserList
                            if (userString.length > 1) {
                                userString.join('&users=');
                            }

                            xhr.open("GET", `/create?users=${userString}`,true);
                            xhr.send();
                        }
                    },
                    created: function(){
                        this.getChats(),
                        this.$data.socket.addEventListener('message', event => {
                            console.log('Socket message')
                            const data = JSON.parse(event.data);
                            console.log(data)
                            console.log(this.$data.current_chatid)
                            if (data.chatid === this.$data.current_chatid){
                                console.log('Ok')
                                var message_model = {
                                        "user": data.user,
                                        "content":data.content,
                                        "date" : data.date
                                }
                                this.$data.messages.push(message_model)
                                console.log(this.$data.messages)
                                document.getElementById('span_content').scrollIntoView(false);

                            }
                        })
                        this.$data.socket.addEventListener('close', event => {
                            location.reload(true)
                        })
                    }

                })}
                
                var MessageItem = Vue.component('MessageItem',{
                    name: 'MessageItem',
                    props:['message'],
                    template: '<div><h3>{{message.user}}</h3><p>     {{message.content}}</p></div>'
                })
                var Messages = Vue.component('Messages',{
                    name: 'Messages',
                    components:{
                        'MessageItem' : MessageItem
                    },
                    props : ['messages'],
                    template: '<div><div v-bind:key="i" v-for="(message,i) in messages"><MessageItem v-bind:message="message"/></div></div>'
                })
                var ChatItem = Vue.component('ChatItem',{
                    name: 'ChatItem',
                    props:['chat'],
                    methods :{
                        initializeChat : function(){
                            console.log('Clicked!')
                            var chatId = this.$props.chat.chatId;
                            this.$parent._self.$parent.getMessages(chatId)
                            this.$parent._self.$parent.$data.current_chatid = chatId;
                        }
                    },
                    template: '<div style="margin: 15px 15px;height:100%;" v-on:click="initializeChat">{{chat.users.join(", ")}}</div>'
                })
                var Chats = Vue.component('Chats',{
                    name: 'Chats',
                    components:{
                        'ChatItem' : ChatItem
                    },
                    props : ['chats'],
                    template: '<div style="margin: 5px 5px;"><button class="btn btn-outline-dark" v-bind:key="i" v-for="(chat,i) in chats" style="width:105%;margin-bottom: 5px;"><ChatItem v-bind:chat="chat"/></button></div>'
                })
            </script>
    </body>
</html>