<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <title>Nodesk</title>
    </head>

    <body style='overflow-x: hidden; width:100%;' onload='getChats()'>
        <div id='app' class='row justify-content-center align-items-center' style='height: 100vh; '>
            <div class='col-md-3 col-sm-12 h-100 bg-light' style='overflow-y: auto; max-height: 100vh;height:100vh;'>
                <Chats v-bind:chats='chats'/>
            </div>
            <span id='messages_span' class='col-md-9 col-sm-12 h-100' style='width:100%;'>
                <div class='row bg-light' style='height: 10%;'>
                    chats
                </div>
                <div class='row' id='span_content' style='overflow-y: scroll; max-height: 80vh;height:80vh;'>
                    <Messages v-bind:messages="messages"/>
                </div>
                <div class='row bg-light' style='bottom: 0%; height: 10%;'>
                    <input  class='col-md-10' id='message'>
                    <button class='col-md-2' v-on:click='sendMessage'>Send</button>
                    <!-- <button v-on:click='getChats'>GET MESSAGE DATA</button> -->
                    <!-- <button v-on:click='getMessages'>Get Message</button> -->
                </div>
            </span> 
        </div>
        
        <script>
                window.onload = () =>{
                var app = new Vue({
                    el : "#app",
                    components:{
                        'Messages': Messages,
                        'MessageItem' : MessageItem,
                        'Chats' : Chats,
                        'ChatItem': ChatItem
                    },
                    data :{
                            messages : [],
                            chats:[]
                    },
                    methods: {
                        getChats : function(){ 
                            var xhr = new XMLHttpRequest();
                            xhr.onload = function () {
                            if (xhr.status >= 200 && xhr.status < 300) {
                                chats = JSON.parse(xhr.responseText)
                                chats.forEach(element => {
                                    app.$data.chats.push(element)
                                });
                            }
                            };
                            xhr.open("GET", `/chatids`,true);
                            xhr.send();

                        },
                        getMessages : function(chatid){
                            app.$data.messages = []
                            var xhr = new XMLHttpRequest();
                            xhr.onload = function () {
                            if (xhr.status >= 200 && xhr.status < 300) {
                                messages = JSON.parse(xhr.responseText).messages
                                console.log(messages)
                                messages.forEach(message =>{
                                    var message_model = {
                                        "user": message.user,
                                        "content":message.content,
                                        "date" : message.date
                                        }
                                    app.$data.messages.push(message_model)
                                })
                            }
                            };
                            xhr.open("GET", `/messages?chatid=${chatid}`,true);
                            xhr.send();
                        },
                        sendMessage : async function(){
                            var message = document.getElementById('message').value
                            var username = document.cookie.replace(/(?:(?:^|.*;\s*)Username\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                            var message_model = {
                                "user": username,
                                "content":message
                            }
                            await app.$data.messages.push(message_model)
                            document.getElementById('span_content').scrollIntoView(false);
                        },
                        // getChats: function(){
                        //     var sample_chats = [{'chatid':'chat 1'},{'chatid':'chat 2'}]
                        //     sample_chats.forEach(element => {
                        //         app.$data.chats.push(element.chatid)
                        //     });
                        //     console.log(app.$data.chats)
                        // }
                    },
                    created: function(){
                        this.getChats()
                    }

                })}
                var MessageItem = Vue.component('MessageItem',{
                    name: 'MessageItem',
                    props:['message'],
                    template: '<p>{{message.user}} - {{message.content}}</p>'
                })
                var Messages = Vue.component('Messages',{
                    name: 'Messages',
                    components:{
                        'MessageItem' : MessageItem
                    },
                    props : ['messages'],
                    template: '<div><div v-bind:key="i" v-for="(message,i) in messages"><MessageItem v-bind:message="message"/></div></div>'
                })
                var ChatItem = Vue.component('ChatItem',{
                    name: 'ChatItem',
                    props:['chat'],
                    methods :{
                        initializeChat : function(){
                            console.log('Clicked!')
                            this.$parent._self.$parent.getMessages(this.$props.chat)
                        }
                    },
                    template: '<p v-on:click="initializeChat">{{chat}}</p>'
                })
                var Chats = Vue.component('Chats',{
                    name: 'Chats',
                    components:{
                        'ChatItem' : ChatItem
                    },
                    props : ['chats'],
                    template: '<div><button class="btn btn-light" v-bind:key="i" v-for="(chat,i) in chats" style="width:105%;border-radius:0px;"><ChatItem v-bind:chat="chat"/></button></div>'
                })
            </script>
    </body>
</html>